*{
    /* border: 0.6px solid black; */
    margin: 0;
    padding: 0;
    border: none;
    outline: 0;
    overflow: hidden;
}

.main{
    height: 100vh;
    background-image: linear-gradient(to top right, rgb(163, 255, 88),rgb(219, 255, 88));
}

.header{
    width: 100%;
    height: 15vh;
    background-color: rgba(0, 0, 0, 0.596);
}

.question_card{
    height: 60vh;
    margin: 10vh 10vw;
    border-radius: 5px;
    box-shadow: 5px 5px 100px 5px rgba(22, 49, 6, 0.342);
}

.question_card__progress_bar{
    height: 8%;
    background-color: rgb(226, 168, 43);
    transition: 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.question_card__question{
    display: flex;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.137);
    transition: 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.question_card__options{
    height: 50%;
}
.question_card__footer{
    height: 21%;
    border: 2px solid rgb(123, 255, 0);
    border-radius: 0 0 5px 5px;
}

.question_card__question p{
    flex-direction: column;
    align-self: center;
    font-size: 20px;
    padding: 10px 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(255, 255, 255);
}

button{
    height: 100%;
    width: 20%;
    background-color: rgba(0, 0, 0, 0.315);
    transition: 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    font-weight: 600;
    color: rgba(255, 255, 255, 0.726);
}

#prev_B{
    float: left;
}
#next_B{
    float: right;
}

.footer{
    position: fixed;
    height: 8vh;
    width: 100vw;
    bottom: 0vh;
    background-color: rgba(0, 0, 0, 0.596)
}


.info_bar{
    position: fixed;
    bottom: 0px;
    right: 5vw;
    height: 5vh;
    width: 5vw;
    background-color: rgba(238, 130, 238, 0.158);
    transition: 0.3s cubic-bezier(0, 0.5, 0.5, 1);
}

.info_bar:hover{
    height: 20vh;
    width: 20vw;
    background-color: rgba(0, 0, 0, 0.993);
    transition: 1s cubic-bezier(0,1,0,1);
}